html, body {
    overflow-x: hidden;
}

#Mobile {
    display: none;
}

@media only screen and (max-width: 600px) {
    #Mobile {
        display: flex;
    }

    #Mob {
        font-size: 2.4rem;
    }

    #Img {
        margin-left: 2rem;
    }
}
