/* Imports */

@font-face {
    font-family: Santorini;
    src: url(./fonts/Santorini/Santorini\ Eighty.ttf);
}

@font-face {
    font-family: SeaAngel;
    src: url(./fonts/SeaAngle/Sea\ Angle\ Reguler.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(./fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: Abigail;
    src: url(./fonts/Abigail/Abigail.ttf);
}


/* Imports */
/* Dashboard */

html, body {
    background-color: #fefefe;
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;
    background-attachment: fixed;

    overflow: hidden;
    display: flex;
}

 * {
	 position: relative;
	 box-sizing: border-box;
}
 .iframely-embed {
	 position: fixed;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 z-index: 50;
	 background: white;
}

#app {
	 display: grid;
	 grid-template-columns: 1fr 2fr;
	 align-items: center;
	 height: 90vh;
	 width: 100%;
	 color: #3a3535;
}
 body {
	 display: grid;
	 padding: 3vmin;
}
 .title {
	 grid-column: 1;
	 grid-row: 1;
     font-family: Montserrat;

	 font-size: 1.5vw;
	 width: 100%;
}
 .title > .title-inner {
	 display: inline-block;
}
 @keyframes text-clip {
	 from {
		 clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
	}
	 to {
		 clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	}
}
 @keyframes outer-left {
	 from {
		 transform: translateX(50%);
	}
	 to {
		 transform: none;
	}
}
 @keyframes inner-left {
	 from {
		 transform: translateX(-50%);
	}
	 to {
		 transform: none;
	}
}
 .cafe, .mozart {
	 animation: outer-left 1s 1s cubic-bezier(0.5, 0, 0.1, 1) both;
}
 .title-inner {
	 display: inline-block;
	 animation: inner-left 1s 1s ease both;
}
 .cafe-inner {
	 display: inline-block;
	 animation: inner-left 1s 1s ease both, text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
}
 .mozart-inner {
	 animation: text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
}
 .title {
	 animation: outer-left 1s 1s ease both;
}
 .cafe > .cafe-inner {
	 display: inline-block;
}
 .mozart {
	 display: inline-block;
}
 .image {
	 grid-row: 1;
	 grid-column: 2;
	 margin-left: -2rem;
	 opacity: 0.7;
	 animation: image-in 1s cubic-bezier(0.5, 0, 0.1, 1) 2s backwards;
}
 @keyframes image-in {
	 from {
		 clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
	}
	 to {
		 clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	}
}
 .image img {
	 display: block;
	 width: 100%;
	 height: auto;
}

 
.Activate {
    border-left: 3px solid #92000A;
    border-right: 30px solid #92000A;

    padding-left: 2vw;
    padding-right: 3vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
}

li {
    padding: 1vw;
}

ul {
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 50%;
    white-space: nowrap;
}

a {
    display: block;
    position: relative;
    padding: 0.2em 0;
    text-decoration: none;
    color: #010101;
}

a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: #010101;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}
  
a:hover::after,
a:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
}
  
  /* Slide in */
li:nth-child(2) a {
    overflow: hidden;
}
  
li:nth-child(2) a::after {
    opacity: 1;
    transform: translate3d(-100%, 0, 0);
}
  
li:nth-child(2) a:hover::after,
li:nth-child(2) a:focus::after{
    transform: translate3d(0, 0, 0);
}
  
  /* Scale from center */
li:nth-child(3) a::after {
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
}
  
li:nth-child(3) a:hover::after,
li:nth-child(3) a:focus::after{
    transform: scale(1);
}

/* Dashboard */