/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300&display=swap');

/* Yoga 365 by Romash Malcev */

html, body {
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.navi {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectiony {
    display: flex;
}

.asidy {
    display: block;
}

footer {
    background: #00AFAD;
}

.Between {
    justify-content: space-between;
    align-items: center;
}

.Around {
    justify-content: space-around;
    align-items: center;
}

.Event {
    justify-content: space-evenly;
    align-items: center;
}

.Info {
    font-size: 2.5vw;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 0;
}

.Mini {
    font-size: 1vw;
    font-family: 'Raleway', sans-serif;
    color: #6F707A;
}

.Box {
    width: 100%;
    height: auto;
    border: .5px solid rgba(15, 52, 127, 0.2);
    margin-bottom: 1em;
    padding-bottom: 2em;
}

.ImagesLesson {
    background-image: url('https://images.unsplash.com/photo-1616376392785-8e7e283571e6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Middle {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5vw;
    color: #0F1121;
}

.PictureProfile {
    width: 40px;
    height: 40px;

    background-color: #6F707A;
    border-radius: 50%;
}

.Continue {
    width: 420px;
    height: 54px;

    background: #00AFAD;
    border-radius: 22px;
    cursor: pointer;
}

.Line {
    background: #F3F5F7;
    opacity: 0.2;
}

.VideoLoader {
    background-image: url(media/);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Ico {
    width: 2em;
    height: 2em;

    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 50%;
}

.inp {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 900px;
    border-radius: 3px;
    overflow: hidden; 
    font-family: 'Raleway', sans-serif;

}
.inp .label {
    position: absolute;
    top: 20px;
    left: 12px;
    font-size: 24px;
    color: #111;
    font-weight: 500;
    transform-origin: 0 0;
    transform: translate3d(0, 0, 0);
    transition: all .2s ease;
    pointer-events: none; }
.inp .focus-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(15, 52, 127, 0.2);
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left; }
.inp input {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 16px 12px 0 12px;
    height: 56px;
    font-size: 16px;
    font-weight: 400;
    background: rgba(0, 0, 0, 0.02);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3);
    color: #000;
    transition: all .15s ease; }
    .inp input:hover {
    background: rgba(0, 0, 0, 0.04);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.5); }
    .inp input:not(:placeholder-shown) + .label {
    color: rgba(0, 0, 0, 0.5);
    transform: translate3d(0, -12px, 0) scale(0.75); }
    .inp input:focus {
    background: rgba(0, 0, 0, 0.05);
    outline: none;
    box-shadow: inset 0 -2px 0 #0077FF; }
    .inp input:focus + .label {
        color: #fbfbfb;
        transform: translate3d(0, -12px, 0) scale(0.75); }
        .inp input:focus + .label + .focus-bg {
        transform: scaleX(1);
        transition: all .1s ease; }
  

.btn {
    width: auto;
    height: auto;

    padding: 1.5em;
    font-family: 'Raleway', sans-serif;

    background-color: #00AFAD;
    border: none; 
    color: #fbfbfb;
    font-weight: bold;
}

.Header {
    font-family: 'Raleway', sans-serif;
    color: #0F1121;
    font-size: 2em;
    font-weight: bold;
}

.Num {
    font-family: 'Raleway', sans-serif;
    color: #00AFAD;
    font-size: 2em;
    cursor: pointer;
    margin-left: .5em;
    margin-right: .5em;
}

.size {

}

@media (min-width: 200px) and (max-width: 768px) {
    .Subscribe {
        display: none;
    }

    .Middle, .Info {
        font-size: 5vw;
    }

    .Mini {
        font-size: 3vw;
    }
    
    .Line {
        width: 90%;
    }

    .size {
        font-size: 2.5vw;
    }


    .PictureProfile, .Movemeny, .rid {
        display: none;
    }

    .optic {
        font-size: 2.5vw;
    }

    .Box {
        padding: 0;
    }
}