/* Imports */

@font-face {
    font-family: 'Carla';
    src: url(./fonts/Carla/CarlaSans\ Bold.otf);
}

@font-face {
    font-family: 'Geometria';
    src: url(./fonts/Geometria/Geometria.ttf);
}

@font-face {
    font-family: 'Din';
    src: url(./fonts/Din/DINCondensed-Bold.ttf);
}

/* Media */


/* DGC Architects 2023 */

html, body {
    margin: 0;
    padding: 0;

    overflow-x: hidden; 
    width: 100%;
    height: 100%;
    background-color: #fbfbfb;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
}

aside {
    display: block;
}

.Between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.SliderOfInter {
    background: url(./images/Z1NftCn0_ao.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.SliderOfExt {
    background: url(./images/KolosHouse.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.SliderOfExt2 {
    background: url(./images/res1.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.IMG {
    width: 3em;
    height: 3em;
}

.Info {
    font-size: 1.7em;
    font-family: 'Din';

    text-align: center;
    margin: 0;
}

.Blue {
    color: #44576d;
}

.Number {
    background-color: #44576d;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    color: #fbfbfb;
    font-family: 'Carla';
    text-align: center;

    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 1em;
}

.GrousText {
    font-family: 'Geometria';
    color: #fbfbfb;
    margin: 0;
    margin-left: 3em;
}

.GrousText-1 {
    font-family: 'Geometria';
    color: #fbfbfb;
    margin: 0;
    margin-left: 1.5em;
}

.GrousTextUml {
    font-family: 'Geometria';
    color: #fbfbfb;
    margin: 0;
}

.Grous {
    font-family: 'Geometria';
    font-size: 3em;
    margin: 0;

    margin-left: 1em;
    font-weight: bold;
    color: #fbfbfb;
}

.End {
    display: flex;
    align-items: end;
    justify-content: end;
}

.Middle {
    font-family: 'Geometria';
    font-size: 1.5em;
    margin: 0;

    margin-left: 1em;
    font-weight: bold;
    color: #fbfbfb;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.Middle-1 {
    font-family: 'Geometria';
    font-size: 1.5em;
    margin: 0;

    margin-left: 1em;

    font-weight: bold;
    color: #fbfbfb;
}

.Moving {
    animation: Moving 2s infinite;
    margin: 0 5%;

}

@keyframes Moving {
    0% {
        position: absolute;
        margin: 0;
    }
    50% {
        position: absolute;
        margin: 5% 0;
    }
    100% {
        position: absolute;
        margin: 0;
    }
}

.Arch {
    width: 7em;
    height: 7em;

    background-color: #fbfbfb;
    position: absolute;

    border-bottom-left-radius: 10px;
    top: 0;
    right: 0;
}

.NumGrous {
    font-family: 'Carla';

    font-size: 5em;
    margin: 0;

    font-weight: bold;
    color: #fbfbfb;
}

.Link {
    font-size: .9em;
    font-family: 'Geometria';

    writing-mode: vertical-rl;
    text-orientation: mixed;
    color: #757575;
    white-space: nowrap;
}

.SQR {
    width: 8.5em;
    height: 8.5em;
    background-color: #44576d;

    display: flex;
    justify-content: center;
    align-items: center;
}

.de {
    font-family: 'Geometria';
    font-size: 2em;
    margin: 0;

    font-weight: bold;
    color: #fbfbfb;
    text-align: center;
}

.Loading {
    height: 1em;
    width: 100%;
    background: #F1F1F1;
    border-radius: 112px;
}

.Loaded {
    width: calc(100%/6);
    height: 100%;
    background: #44576d;
    border-radius: 112px;
}

li {
    font-size: 2vw;
    font-family: 'Geometria';
    color: #b3b3b3;
}

#Active {
    font-weight: bold;
    color: #111;
}

ul {
    margin: 0;
    padding: 0;
}