/* Imports */

@font-face {
    font-family: kawoszeh;
    src: url(fonts/kawoszeh/kawoszeh.ttf);
}

@font-face {
    font-family: playfair;
    src: url(fonts/playfair/playfair-display-bold_[allfont.ru].ttf);
}

/* Imports */
/* Landing */

@keyframes image-in {
    from {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
   }
    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
   }
}

@media (min-width: 200px) and (max-width: 600px) {

    html, body {
        margin: 0;
        padding: 0;

        overflow-x: hidden; 
        width: 100%;
        height: 100%;
    }

    nav {
        width: 100%;
        height: 10%;

        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fefefe;
    }

    .upper-block {
        width: 70%;
        height: auto;

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 0;

    }

    .Logo {
        font-size: 10vw;
        font-family: kawoszeh;
    }

    .Icons {
        width: 10vw;
        height: auto;
    }  

    section {
        width: 100%;
        height: 85%;

        background: url(images/decorative-plant-inside-minimal-vase.jpg) no-repeat;
        background-size: cover;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;

        display: flex;
        justify-content: center;
        align-items: center;
        animation: image-in 2s cubic-bezier(0.5, 0, 0.1, 1) 2s backwards;
    }

    .center {
        width: 85%;
        height: auto;
        margin-bottom: 30%;
    }

    .subText {
        font-size: 5.5vw;
        font-family: kawoszeh;
        color: #101010;
        text-decoration: underline solid #101010;
        text-align: center;
    }

    .Text {
        font-size: 6vw;
        font-family: playfair;

        color: #101010;
        text-align: center;
    }

    .MakeOrder {
        text-decoration: none;
        font-family: playfair;

        color: #101010;
    }
    .Order {
        text-align: center;
        font-size: 6.5vw;
        margin-top: 50%;
        text-decoration: underline solid #101010;
    }

    .Module {
        font-family: playfair;
        font-size: 6vw;
        text-align: center;
        text-decoration: underline solid #101010;

    }

    .modulePhoto {
        width: 70%;
        height: auto;
        animation: image-in 2s cubic-bezier(0.5, 0, 0.1, 1) 2s backwards;
    }

    .flexCenter {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: auto;
    }
    .Company {
        text-align: center;
        font-family: playfair;
        font-size: 4vw;

        width: 80%;
    }
    .CompanyGray {
        text-align: center;
        font-family: playfair;
        font-size: 3vw;

        color: grey;
        width: 70%;
    }

    .Ordermodule {
        text-align: center;
        font-size: 5vw;
        text-decoration: underline solid #101010;
    }

    .modulePhoto2 {
        width: 70%;
        height: auto;

        margin-top: 5%;
        animation: image-in 2s cubic-bezier(0.5, 0, 0.1, 1) 2s backwards;
    }
    
    .Catalogy {
        width: 100%;
        height: 70%;

        background: url(images/annie-spratt-hX_hf2lPpUU-unsplash.jpg) no-repeat;
        background-size: cover;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;

        display: flex;
        justify-content: center;
        align-items: center;
        animation: image-in 2s cubic-bezier(0.5, 0, 0.1, 1) 2s backwards;
    }

    .blockExplain1 {
        background-color: #fefefe;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .center2 {
        width: 100%;
        height: auto;
    }

    .center3 {
        width: 85%;
        height: auto;
    }

    ul {
        width: 100%;
        height: auto;
        padding: 0;

        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    li {
        width: 80%;
        height: auto;

        background-color: #480607;
        text-align: center;

        padding: 2.5%;
        margin: 3%;
    }

    .link {
        color: #fefefe;
        font-size: 3vw;

        text-decoration: none;
        font-family: playfair;
    }

    .overlay:target .popup{
        animation: popup 0.7s;
    }

    @keyframes popup {
        0%{
            transform: scale(1);
        }
        50%{
            transform: scale(1.4);
        }
        60%{
            transform: scale(1.1);
        }
        70%{
            transform: scale(1.2);
        }
        80%{
            transform: scale(1);
        }
        90%{
            transform: scale(1.1);
        }
        100%{
            transform: scale(1);
        }
    }

    .overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.7);
        transition: opacity 500ms;
        visibility: hidden;
        opacity: 0;
      }

      .overlay:target {
        visibility: visible;
        opacity: 1;
      }

      .popup {
        margin: 70px auto;
        padding: 20px;
        background: #893F45;
        border-radius: 5px;
        width: 80%;
        height: 80%;
        position: relative;
        transition: all 5s ease-in-out;
      }

      .overlay:target .popup {
        animation: popup 0.7s;
      }

      .popup h2 {
        margin-top: 0;
        color: #fbfbfb;
        font-size: 4vw;
        font-family: playfair;
        width: 90%;
      }

      .popup .close {
        position: absolute;
        top: 20px;
        right: 30px;
        transition: all 200ms;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
      }
      
      .popup .close:hover {
        color: #06D85F;
      }

      .popup .content {
        max-width: 100%;
      }

      .Service {
        font-size: 4vw;
        color: #fbfbfb;
        font-family: playfair;
      }

      .popupList {
        color: #fbfbfb;
        font-family: playfair;
        font-size: 3vw;

        padding: 2%;
        width: 60%;
      }
}
/* Landing */
/* northernwhale.ru */