//
// faq.scss
//


.faq-content{
    overflow: hidden;
}

.faq-icon{
    i{
        font-size: 30px;
    }
}

.faq-desc{
    max-width: 450px;
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 30px;
}