{% set header_show = false %}
{% set header_title = 'Fullscreen Slider' %}
{% set nav = false %}
{% set nav_full = true %}
{% set nav_opaque = false %}
{% set nav_transparent = true %}
{% set nav_transparent_always = true %}
{% set nav_sticky = true %}
{% set nav_autohide = false %}
{% set nav_white_text_on_top = true %}
{% set nav_in_container = false %}
{% set footer = false %}
{% extends 'layouts/layout-1.html' %}

{% block content %}

<div class="nk-fullpage-portfolio">
    <div class="nk-fullpage-item">
        <img src="assets/images/home-6-1.jpg" alt="" class="nk-fullpage-image">
        <div class="nk-fullpage-view-button">
            <div class="container">
                <a class="nk-btn-2" href="work-single-4.html">View project</a>
            </div>
        </div>
        <div class="nk-fullpage-content">
            <div class="container">
                <div class="nk-fullpage-item-category">
                    <a href="#">Branding</a>
                </div>
                <h2 class="nk-fullpage-title display-4"><a href="work-single-4.html">LIGHT INTERIOR</a></h2>
            </div>
        </div>
    </div>
    <div class="nk-fullpage-item">
        <img src="assets/images/home-6-2.jpg" alt="" class="nk-fullpage-image">
        <div class="nk-fullpage-view-button">
            <div class="container">
                <a class="nk-btn-2" href="work-single-6.html">View project</a>
            </div>
        </div>
        <div class="nk-fullpage-content">
            <div class="container">
                <div class="nk-fullpage-item-category">
                    <a href="#">Photography</a>
                </div>
                <h2 class="nk-fullpage-title display-4"><a href="work-single-6.html">MODERN WORKSPACE</a></h2>
            </div>
        </div>
    </div>
    <div class="nk-fullpage-item">
        <img src="assets/images/home-6-3.jpg" alt="" class="nk-fullpage-image">
        <div class="nk-fullpage-view-button">
            <div class="container">
                <a class="nk-btn-2" href="work-single-7.html">View project</a>
            </div>
        </div>
        <div class="nk-fullpage-content">
            <div class="container">
                <div class="nk-fullpage-item-category">
                    <a href="#">Design</a>
                </div>
                <h2 class="nk-fullpage-title display-4"><a href="work-single-7.html">MINIMALIST BUILDING</a></h2>
            </div>
        </div>
    </div>
    <div class="nk-fullpage-item">
        <img src="assets/images/home-6-4.jpg" alt="" class="nk-fullpage-image">
        <div class="nk-fullpage-view-button">
            <div class="container">
                <a class="nk-btn-2" href="work-single-8.html">View project</a>
            </div>
        </div>
        <div class="nk-fullpage-content">
            <div class="container">
                <div class="nk-fullpage-item-category">
                    <a href="#">Photography</a>
                </div>
                <h2 class="nk-fullpage-title display-4"><a href="work-single-8.html">LIGHT BREAKFAST</a></h2>
            </div>
        </div>
    </div>
</div>

{% endblock %}
