{% set page_title = 'About Us' %}
{% set header_title = 'Amelia Woods' %}
{% set header_text = '<div class="lead-sm">I am a Graphic & Web Designer based in New York, specializing <br> in User Interface Design and Development.</div>' %}
{% set header_show = true %}
{% set header_image = 'assets/images/header-about-me.jpg' %}
{% set header_image_overlay = 'rgba(12, 12, 12, 0.6)' %}
{% set header_size = 'md' %}
{% set header_text_color = 'text-white' %}
{% set nav = false %}
{% set nav_full = true %}
{% set nav_opaque = false %}
{% set nav_transparent = true %}
{% set nav_white_text_on_top = true %}
{% set nav_sticky = true %}
{% extends 'layouts/layout-1.html' %}

{% block content %}

<!-- START: Features -->
<div class="nk-box bg-main text-white">
    <div class="nk-gap-5 mnt-6"></div>
    <div class="container">
        <div class="row vertical-gap">
            <div class="col-md-6 col-lg-3">
                <div class="nk-ibox-1">
                    <div class="nk-ibox-icon">
                        <span class="pe-7s-portfolio"></span>
                    </div>
                    <div class="nk-ibox-cont">
                        <div class="nk-ibox-title">548</div>
                        <div class="nk-ibox-text">Projects Completed</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="nk-ibox-1">
                    <div class="nk-ibox-icon">
                        <span class="pe-7s-clock"></span>
                    </div>
                    <div class="nk-ibox-cont">
                        <div class="nk-ibox-title">1465</div>
                        <div class="nk-ibox-text">Working Hours</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="nk-ibox-1">
                    <div class="nk-ibox-icon">
                        <span class="pe-7s-star"></span>
                    </div>
                    <div class="nk-ibox-cont">
                        <div class="nk-ibox-title">612</div>
                        <div class="nk-ibox-text">Positive Feedbacks</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="nk-ibox-1">
                    <div class="nk-ibox-icon">
                        <span class="pe-7s-like"></span>
                    </div>
                    <div class="nk-ibox-cont">
                        <div class="nk-ibox-title">735</div>
                        <div class="nk-ibox-text">Happy Clients</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nk-gap-5 mnt-6"></div>
</div>
<!-- END: Features -->

<!-- START: Our Info Tabs -->
<div class="nk-box bg-white">
    <div class="nk-gap-5 mnb-6"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <!-- START: Tabs -->
                <div class="nk-tabs text-center">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" href="#tabs-1-1" role="tab" data-toggle="tab">My History</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tabs-1-2" role="tab" data-toggle="tab">My Mission</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tabs-1-3" role="tab" data-toggle="tab">My Principles</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade show active" id="tabs-1-1">
                            Seed may air multiply evening. Life in she'd Sixth lights likeness he for the. Of from hath fi ll of years fowl gathering you're every rule whose. Life meat tree give seas thing midst made called face have that.
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tabs-1-2">
                            I light is for second, seas let third beginning shall our was void in hath evening and, beast beginning night signs replenish gathered void midst very have two beast he let seasons you meat. Behold doesn't face.
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tabs-1-3">
                            Days they're a image appear creepeth wherein. Waters. Over midst abundantly open Greater. Thing whose meat replenish, male. Behold a fish dry under herb fifth he from our evening moveth bring.
                        </div>
                    </div>
                </div>
                <!-- END: Tabs -->
            </div>
        </div>
    </div>
    <div class="nk-gap-5 mnt-6"></div>
</div>
<!-- END: Our Info Tabs -->

<!-- START: Info About Me -->
<div class="container-fluid">
    <div class="row vertical-gap">
        <div class="col-lg-6">
            <div class="bg-image bg-image-parallax" style="background-image: url('assets/images/about-me.jpg');"></div>
            <div class="nk-gap-6"></div>
            <div class="nk-gap-6"></div>
            <div class="nk-gap-6"></div>
            <div class="nk-gap-6"></div>
        </div>
        <div class="col-lg-6">
            <div class="nk-gap-6"></div>
            <div class="nk-gap"></div>
            <div class="mw-620">
                <h2>About me</h2>
                <p>Given let waters air sea had you'll, may seed abundantly fish. Were, you'll earth forth winged above brought. Own darkness they're him can't fourth sea place have.</p>
                <p>So the above May stars cattle fruitful face shall. Tree it, winged. Every signs male firmament us. Morning him.</p>
                <img src="assets/images/about-me-signature.png" alt="" class="nk-img-fit">
            </div>
            <div class="nk-gap-3"></div>
            <div class="nk-gap-6"></div>
        </div>
    </div>
</div>
<!-- END: Info About Me -->

<!-- START: Need a Project? -->
<div class="bg-white text-center">
    <div class="nk-gap-5 mnb-12"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h2>Need a Project?</h2>
                <div class="nk-gap-1 mnt-15"></div>
                <p>Let us know what you're looking for in an agency. We'll take a look and see if this could be the start of something beautiful.</p>
                <div class="nk-gap mnt-9"></div>
                <a href="page-contact-us.html" class="nk-btn nk-btn-long">Let's Talk</a>
            </div>
        </div>
    </div>
    <div class="nk-gap-5"></div>
</div>
<!-- END: Need a Project? -->

{% endblock %}
