{% set page_title = 'Services' %}
{% set header_title = 'Our Services' %}
{% set header_text = '<div class="lead-sm">We have over 20 years of combined experience, and know a thing or two <br> about designing websites and mobile apps.</div>' %}
{% set header_show = true %}
{% set header_image = 'assets/images/header-services.jpg' %}
{% set header_image_overlay = 'rgba(12, 12, 12, 0.6)' %}
{% set header_size = 'md' %}
{% set header_text_color = 'text-white' %}
{% set nav = false %}
{% set nav_full = true %}
{% set nav_opaque = false %}
{% set nav_transparent = true %}
{% set nav_white_text_on_top = true %}
{% set nav_sticky = true %}
{% extends 'layouts/layout-1.html' %}

{% block content %}

    <!-- START: Features -->
    <div class="nk-box bg-white">
        <div class="nk-gap-5 mnt-6"></div>
        <div class="container">
            <div class="row vertical-gap md-gap">
                <div class="col-md-6 col-lg-3">
                    <div class="nk-ibox-3">
                        <div class="nk-ibox-icon">
                            <span class="pe-7s-diamond"></span>
                        </div>
                        <div class="nk-ibox-cont">
                            <div class="nk-ibox-title">UI / UX Design</div>
                            <div class="nk-ibox-text">Be set fourth land god darkness make it wherein own</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="nk-ibox-3">
                        <div class="nk-ibox-icon">
                            <span class="pe-7s-arc"></span>
                        </div>
                        <div class="nk-ibox-cont">
                            <div class="nk-ibox-title">Web Development</div>
                            <div class="nk-ibox-text">A she'd them bring void moving third she'd kind fill</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="nk-ibox-3">
                        <div class="nk-ibox-icon">
                            <span class="pe-7s-phone"></span>
                        </div>
                        <div class="nk-ibox-cont">
                            <div class="nk-ibox-title">App / Mobile</div>
                            <div class="nk-ibox-text">Dominion man second spirit he, earth they're creeping</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="nk-ibox-3">
                        <div class="nk-ibox-icon">
                            <span class="pe-7s-joy"></span>
                        </div>
                        <div class="nk-ibox-cont">
                            <div class="nk-ibox-title">Game Design</div>
                            <div class="nk-ibox-text">Morning his saying moveth it multiply appear life be</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="nk-ibox-3">
                        <div class="nk-ibox-icon">
                            <span class="pe-7s-plane"></span>
                        </div>
                        <div class="nk-ibox-cont">
                            <div class="nk-ibox-title">SEO / Marketing</div>
                            <div class="nk-ibox-text">Give won't after land fill creeping meat you, may</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="nk-ibox-3">
                        <div class="nk-ibox-icon">
                            <span class="pe-7s-star"></span>
                        </div>
                        <div class="nk-ibox-cont">
                            <div class="nk-ibox-title">Photography</div>
                            <div class="nk-ibox-text">Creepeth one seas cattle grass give moving saw give</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="nk-ibox-3">
                        <div class="nk-ibox-icon">
                            <span class="pe-7s-magic-wand"></span>
                        </div>
                        <div class="nk-ibox-cont">
                            <div class="nk-ibox-title">Graphic Design</div>
                            <div class="nk-ibox-text">Open, great whales air rule for, fourth life whales</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="nk-ibox-3">
                        <div class="nk-ibox-icon">
                            <span class="pe-7s-paint-bucket"></span>
                        </div>
                        <div class="nk-ibox-cont">
                            <div class="nk-ibox-title">Illustrations</div>
                            <div class="nk-ibox-text">Whales likeness hath, man kind for them air two won't</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nk-gap-5 mnt-6"></div>
    </div>
    <!-- END: Features -->

    <!-- START: Reviews -->
    <div class="nk-box bg-main">
        <div class="nk-gap-5 mnt-6"></div>
        <div class="nk-gap-3"></div>
        <div class="container-fluid">
            <!-- START: Carousel -->
            <div class="nk-carousel nk-carousel-all-visible text-white" data-autoplay="18000" data-dots="true">
                <div class="nk-carousel-inner">
                    <div><div>
                            <blockquote class="nk-blockquote-style-1 text-white">
                                <p>Outstanding job and exceeded all expectations. It was a pleasure
                                    to work with them on a sizable first project and am looking
                                    forward to start the next one asap.</p>
                                <cite>Michael Hopkins</cite>
                            </blockquote>
                            <div class="nk-gap-2"></div>
                        </div></div>
                    <div><div>
                            <blockquote class="nk-blockquote-style-1 text-white">
                                <p>Outstanding job and exceeded all expectations. It was a pleasure
                                    to work with them on a sizable first project and am looking
                                    forward to start the next one asap.</p>
                                <cite>Michael Hopkins</cite>
                            </blockquote>
                            <div class="nk-gap-2"></div>
                        </div></div>
                    <div><div>
                            <blockquote class="nk-blockquote-style-1 text-white">
                                <p>Outstanding job and exceeded all expectations. It was a pleasure
                                    to work with them on a sizable first project and am looking
                                    forward to start the next one asap.</p>
                                <cite>Michael Hopkins</cite>
                            </blockquote>
                            <div class="nk-gap-2"></div>
                        </div></div>
                </div>
            </div>
            <!-- END: Carousel -->
        </div>
        <div class="nk-gap-4 mt-3"></div>
    </div>
    <!-- END: Reviews -->

    <!-- START: Partners -->
    <div class="bg-white">
        <div class="container">
            <div class="nk-carousel-2 nk-carousel-x4 nk-carousel-no-margin nk-carousel-all-visible">
                <div class="nk-carousel-inner">
                    <div><div>
                            <div class="nk-box-1">
                                <img src="assets/images/partner-logo-1-dark.png" alt="" class="nk-img-fit">
                            </div>
                        </div></div>
                    <div><div>
                            <div class="nk-box-1">
                                <img src="assets/images/partner-logo-2-dark.png" alt="" class="nk-img-fit">
                            </div>
                        </div></div>
                    <div><div>
                            <div class="nk-box-1">
                                <img src="assets/images/partner-logo-3-dark.png" alt="" class="nk-img-fit">
                            </div>
                        </div></div>
                    <div><div>
                            <div class="nk-box-1">
                                <img src="assets/images/partner-logo-4-dark.png" alt="" class="nk-img-fit">
                            </div>
                        </div></div>
                    <div><div>
                            <div class="nk-box-1">
                                <img src="assets/images/partner-logo-5-dark.png" alt="" class="nk-img-fit">
                            </div>
                        </div></div>
                    <div><div>
                            <div class="nk-box-1">
                                <img src="assets/images/partner-logo-6-dark.png" alt="" class="nk-img-fit">
                            </div>
                        </div></div>
                    <div><div>
                            <div class="nk-box-1">
                                <img src="assets/images/partner-logo-7-dark.png" alt="" class="nk-img-fit">
                            </div>
                        </div></div>
                    <div><div>
                            <div class="nk-box-1">
                                <img src="assets/images/partner-logo-8-dark.png" alt="" class="nk-img-fit">
                            </div>
                        </div></div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: Partners -->

    <!-- START: Need a Project? -->
    <div class="bg-gray-2 text-center">
        <div class="nk-gap-5 mnb-12"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <h2>Need a Project?</h2>
                    <div class="nk-gap-1 mnt-15"></div>
                    <p>Let us know what you're looking for in an agency. We'll take a look and see if this could be the start of something beautiful.</p>
                    <div class="nk-gap mnt-9"></div>
                    <a href="page-contact-us.html" class="nk-btn nk-btn-long">Let's Talk</a>
                </div>
            </div>
        </div>
        <div class="nk-gap-5"></div>
    </div>
    <!-- END: Need a Project? -->

{% endblock %}
