{% set page_title = 'About Us' %}
{% set header_title = 'Piroll Agency' %}
{% set header_text = '<div class="lead-sm">We have over 20 years of combined experience, and know a thing or two <br> about designing websites and mobile apps.</div>' %}
{% set header_show = true %}
{% set header_image = 'assets/images/header-about-us.jpg' %}
{% set header_image_overlay = 'rgba(12, 12, 12, 0.6)' %}
{% set header_size = 'md' %}
{% set header_text_color = 'text-white' %}
{% set nav = false %}
{% set nav_full = true %}
{% set nav_opaque = false %}
{% set nav_transparent = true %}
{% set nav_white_text_on_top = true %}
{% set nav_sticky = true %}
{% extends 'layouts/layout-1.html' %}

{% block content %}

<!-- START: Features -->
<div class="nk-box bg-main text-white">
    <div class="nk-gap-5 mnt-6"></div>
    <div class="container">
        <div class="row vertical-gap">
            <div class="col-md-6 col-lg-3">
                <div class="nk-ibox-3">
                    <div class="nk-ibox-icon">
                        <span class="pe-7s-anchor"></span>
                    </div>
                    <div class="nk-ibox-cont">
                        <div class="nk-ibox-title">Creative Ideas</div>
                        <div class="nk-ibox-text">Be set fourth land god darkness make it wherein own</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="nk-ibox-3">
                    <div class="nk-ibox-icon">
                        <span class="pe-7s-star"></span>
                    </div>
                    <div class="nk-ibox-cont">
                        <div class="nk-ibox-title">Really Clean Code</div>
                        <div class="nk-ibox-text">A she'd them bring void moving third she'd kind fill</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="nk-ibox-3">
                    <div class="nk-ibox-icon">
                        <span class="pe-7s-like"></span>
                    </div>
                    <div class="nk-ibox-cont">
                        <div class="nk-ibox-title">Support 24/7</div>
                        <div class="nk-ibox-text">Dominion man second spirit he, earth they're creeping</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="nk-ibox-3">
                    <div class="nk-ibox-icon">
                        <span class="pe-7s-umbrella"></span>
                    </div>
                    <div class="nk-ibox-cont">
                        <div class="nk-ibox-title">Talented Team</div>
                        <div class="nk-ibox-text">Morning his saying moveth it multiply appear life be</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nk-gap-5 mnt-6"></div>
</div>
<!-- END: Features -->

<!-- START: Who We Are -->
<div class="nk-box bg-white">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="nk-gap-2"></div>

                <div class="nk-box-3 text-center">
                    <h2>Who we are</h2>
                    <div class="nk-gap mnt-5"></div>

                    <p>We are a new design studio based in USA. We have over 20 years of combined experience, and know a thing or two about designing websites and mobile apps. Clever use of technology and lean processes enable us to work faster and smarter.
                    </p>

                    <img src="assets/images/about-me-signature.png" alt="" class="nk-img-fit">
                </div>

                <div class="nk-gap-2"></div>
            </div>
        </div>
    </div>
</div>
<!-- END: Who We Are -->

<!-- START: Professional Skills -->
<div class="nk-box bg-gray-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 push-lg-6">
                <div class="bg-image bg-image-parallax" style="background-image: url('assets/images/services-4.jpg');"></div>
                <div class="nk-gap-6"></div>
                <div class="nk-gap-6"></div>
                <div class="nk-gap-6"></div>
                <div class="nk-gap-6"></div>
            </div>
            <div class="col-lg-6 pull-lg-6">
                <div class="nk-gap-4"></div>

                <div class="nk-box-4 mw-620 mlauto">
                    <h2>Professional Skills</h2>
                    <div class="nk-gap mnt-5"></div>

                    <div class="nk-progress nk-progress-sm nk-count" data-progress="75" data-progress-mask="{$}%">
                        <div class="nk-progress-title">UI/UX Design <span class="nk-progress-percent">75%</span></div>
                        <div class="nk-progress-line">
                            <div style="width: 75%"></div>
                        </div>
                    </div>

                    <div class="nk-gap"></div>
                    <div class="nk-progress nk-progress-sm nk-count" data-progress="90" data-progress-mask="{$}%">
                        <div class="nk-progress-title">Web Development <span class="nk-progress-percent">90%</span></div>
                        <div class="nk-progress-line">
                            <div style="width: 90%"></div>
                        </div>
                    </div>

                    <div class="nk-gap"></div>
                    <div class="nk-progress nk-progress-sm nk-count" data-progress="65" data-progress-mask="{$}%">
                        <div class="nk-progress-title">Marketing <span class="nk-progress-percent">65%</span></div>
                        <div class="nk-progress-line">
                            <div style="width: 65%"></div>
                        </div>
                    </div>
                </div>

                <div class="nk-gap-4"></div>
            </div>
        </div>
    </div>
</div>
<!-- END: Professional Skills -->

<!-- START: Need a Project? -->
<div class="bg-white text-center">
    <div class="nk-gap-5 mnb-12"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h2>Need a Project?</h2>
                <div class="nk-gap-1 mnt-15"></div>
                <p>Let us know what you're looking for in an agency. We'll take a look and see if this could be the start of something beautiful.</p>
                <div class="nk-gap mnt-9"></div>
                <a href="page-contact-us.html" class="nk-btn nk-btn-long">Let's Talk</a>
            </div>
        </div>
    </div>
    <div class="nk-gap-5"></div>
</div>
<!-- END: Need a Project? -->

{% endblock %}
