{% set header_title = 'Work 6' %}
{% set header_show = false %}
{% set nav_dark = true %}
{% extends 'layouts/layout-1.html' %}

{% block content %}

<div class="container">
    <div class="nk-portfolio-single">

        <div class="nk-gap-4 mb-14"></div>
        <h1 class="nk-portfolio-title">Modern Office</h1>
        <div class="row vertical-gap">
            <div class="col-lg-8">
                <div class="nk-portfolio-info">
                    <div class="nk-portfolio-text">
                        <p>Nullam lobortis neque turpis, nec tempus sem pharetra at. Donec et quam, ullamcorper velit. Aliquam maximus ullamcorper ligula, at placerat dui hendrerit sed. Sed metus urna, bibendum id tortor, feugiat ipsum. Aliquam vehicula neque sit amet dolor malesuada pretium.</p>
                        <p>Curabitur tristique, felis ut mattis auctor, elit ante laoreet libero, ac lorem quam vitae libero. Suspen
                            disse aliquet eget risus quis vehicula.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <table class="nk-portfolio-details">
                    <tr>
                        <td><strong>Client:</strong></td>
                        <td>Emma Morris</td>
                    </tr>
                    <tr>
                        <td><strong>Date:</strong></td>
                        <td>06.20.2017</td>
                    </tr>
                    <tr>
                        <td><strong>Share:</strong></td>
                        <td>
                            <a href="#" title="Share page on Facebook" data-share="facebook">Facebook</a>,
                            <a href="#" title="Share page on Twitter" data-share="twitter">Twitter</a>,
                            <a href="#" title="Share page on Pinterest" data-share="pinterest">Pinterest</a>
                            <!--
                            <a href="#" title="Share page on Google Plus" data-share="google-plus">Google Plus</a>,
                            <a href="#" title="Share page on LinkedIn" data-share="linkedin">LinkedIn</a>,
                            <a href="#" title="Share page on Vkontakte" data-share="vk">Vkontakte</a>
                            -->
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="nk-gap-4 mt-14"></div>

    </div>
</div>

<div class="nk-plain-video" data-video="https://vimeo.com/90621027" data-video-thumb="assets/images/portfolio-single-6.jpg"></div>

<!-- START: Pagination -->
<div class="nk-pagination nk-pagination-center">
    <div class="container">
        <a class="nk-pagination-prev" href="work-single-5.html"><span class="pe-7s-angle-left"></span> Previous Project</a>
        <a class="nk-pagination-center" href="work-3-style-1.html"><span class="nk-icon-squares"></span></a>
        <a class="nk-pagination-next" href="work-single-7.html">Next Project <span class="pe-7s-angle-right"></span> </a>
    </div>
</div>
<!-- END: Pagination -->
{% endblock %}
