{% set page_title = 'Work 8' %}
{% set header_title = 'WEDDING FLOWERS' %}
{% set header_text = 'New Branding Agency' %}
{% set header_show = true %}
{% set header_image = 'assets/images/portfolio-single-8.jpg' %}
{% set header_image_overlay = 'rgba(12, 12, 12, 0.4)' %}
{% set header_size = 'full' %}
{% set header_text_color = 'text-white' %}
{% set header_text = 'Every gathered. You\'ll all stars lights made. Was tree brought for green whose <br> may gathering whales in all signs place.

<div class="nk-gap-4"></div>' %}
{% set header_scroll_down_icon = true %}
{% set nav = false %}
{% set nav_full = true %}
{% set nav_opaque = false %}
{% set nav_transparent = true %}
{% set nav_white_text_on_top = true %}
{% set nav_sticky = true %}
{% set footer = 2 %}
{% extends 'layouts/layout-1.html' %}

{% block content %}

<div class="nk-gap-5"></div>

<div class="container">
    <div class="nk-isotope nk-isotope-2-cols nk-isotope-gap nk-popup-gallery nk-portfolio-list">
        <div class="nk-isotope-item">
            <div class="nk-portfolio-item">
                <a href="assets/images/portfolio-single-3-2-full.jpg" class="nk-gallery-item nk-portfolio-item-image" data-size="1553x1054" style="background-image: url('assets/images/portfolio-single-3-2.jpg');"><img src="assets/images/portfolio-single-3-2.jpg" alt=""></a>
            </div>
        </div>
        <div class="nk-isotope-item">
            <div class="nk-portfolio-item">
                <a href="assets/images/portfolio-single-3-3-full.jpg" class="nk-gallery-item nk-portfolio-item-image" data-size="810x1080" style="background-image: url('assets/images/portfolio-single-3-3.jpg');"><img src="assets/images/portfolio-single-3-3.jpg" alt=""></a>
            </div>
        </div>
        <div class="nk-isotope-item">
            <div class="nk-portfolio-item">
                <a href="assets/images/portfolio-single-3-4-full.jpg" class="nk-gallery-item nk-portfolio-item-image" data-size="1535x1024" style="background-image: url('assets/images/portfolio-single-3-4.jpg');"><img src="assets/images/portfolio-single-3-4.jpg" alt=""></a>
            </div>
        </div>
        <div class="nk-isotope-item">
            <div class="nk-portfolio-item">
                <a href="assets/images/portfolio-single-3-5-full.jpg" class="nk-gallery-item nk-portfolio-item-image" data-size="714x476" style="background-image: url('assets/images/portfolio-single-3-5.jpg');"><img src="assets/images/portfolio-single-3-5.jpg" alt=""></a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="nk-portfolio-single">

        <div class="nk-gap-4 mb-14"></div>
        <div class="row vertical-gap">
            <div class="col-lg-8">
                <div class="nk-portfolio-info">
                    <div class="row vertical-gap">
                        <div class="col-md-6">
                            <div class="nk-portfolio-text">
                                <p>Under kind, good beginning it waters great fourth likeness great set man bearing yielding saying gathering unto dominion. Fourth, after saying whose also moveth two may. Abundantly signs, have male signs shall created land which from made image you're herb created.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="nk-portfolio-text">
                                <p>Rule female male yielding without, blessed yielding cattle void days moved hath. Man gathered moveth, waters image cattle to living you whose. There. Also light fish bring were you're i bring is, day also saying great let very thing can't green kind.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <table class="nk-portfolio-details">
                    <tr>
                        <td><strong>Client:</strong></td>
                        <td>Emma Morris</td>
                    </tr>
                    <tr>
                        <td><strong>Date:</strong></td>
                        <td>06.20.2017</td>
                    </tr>
                    <tr>
                        <td><strong>Share:</strong></td>
                        <td>
                            <a href="#" title="Share page on Facebook" data-share="facebook">Facebook</a>,
                            <a href="#" title="Share page on Twitter" data-share="twitter">Twitter</a>,
                            <a href="#" title="Share page on Pinterest" data-share="pinterest">Pinterest</a>
                            <!--
                            <a href="#" title="Share page on Google Plus" data-share="google-plus">Google Plus</a>,
                            <a href="#" title="Share page on LinkedIn" data-share="linkedin">LinkedIn</a>,
                            <a href="#" title="Share page on Vkontakte" data-share="vk">Vkontakte</a>
                            -->
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="nk-gap-4 mt-14"></div>

    </div>
</div>

<!-- START: Pagination -->
<div class="nk-pagination nk-pagination-center">
    <div class="container">
        <a class="nk-pagination-prev" href="work-single-7.html"><span class="pe-7s-angle-left"></span> Previous Project</a>
        <a class="nk-pagination-center" href="work-3-style-1.html"><span class="nk-icon-squares"></span></a>
        <span class="nk-pagination-next"></span>
    </div>
</div>
<!-- END: Pagination -->
{% endblock %}
