{% set header_title = 'Work 5' %}
{% set header_show = false %}
{% set footer = 2 %}
{% extends 'layouts/layout-1.html' %}

{% block content %}

<!-- START: Carousel -->
<div class="nk-carousel-3 nk-carousel-no-margin nk-carousel-all-visible" data-size="1" data-autoplay="18000" data-arrows="true">
    <div class="nk-carousel-inner">
        <div><div>
            <img src="assets/images/portfolio-single-5-1.jpg" alt="" class="nk-img-stretch">
        </div></div>
        <div><div>
            <img src="assets/images/portfolio-single-5-2.jpg" alt="" class="nk-img-stretch">
        </div></div>
        <div><div>
            <img src="assets/images/portfolio-single-5-3.jpg" alt="" class="nk-img-stretch">
        </div></div>
    </div>
</div>
<!-- END: Carousel -->

<div class="container">
    <div class="nk-portfolio-single">

        <div class="nk-gap-4 mb-2"></div>
        <h1 class="nk-portfolio-title">Minimal Photography</h1>
        <div class="row vertical-gap">
            <div class="col-lg-8">
                <div class="nk-portfolio-info">
                    <div class="nk-portfolio-text">
                        <p>Them first created in creepeth don't whose waters saying. Years whose yielding which so behold lights tree he signs. Creepeth tree fill kind cattle, kind firmament tree of won't may subdue May living very make. Thing man beginning made.</p>
                        <p>Had sixth together dominion seed whales have god him him Called morning firmament darkness there land forth without multiply morning blessed the give living midst, signs their light seed of good.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <table class="nk-portfolio-details">
                    <tr>
                        <td><strong>Client:</strong></td>
                        <td>Emma Morris</td>
                    </tr>
                    <tr>
                        <td><strong>Date:</strong></td>
                        <td>06.20.2017</td>
                    </tr>
                    <tr>
                        <td><strong>Share:</strong></td>
                        <td>
                            <a href="#" title="Share page on Facebook" data-share="facebook">Facebook</a>,
                            <a href="#" title="Share page on Twitter" data-share="twitter">Twitter</a>,
                            <a href="#" title="Share page on Pinterest" data-share="pinterest">Pinterest</a>
                            <!--
                            <a href="#" title="Share page on Google Plus" data-share="google-plus">Google Plus</a>,
                            <a href="#" title="Share page on LinkedIn" data-share="linkedin">LinkedIn</a>,
                            <a href="#" title="Share page on Vkontakte" data-share="vk">Vkontakte</a>
                            -->
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="nk-gap-4 mnb-10"></div>

    </div>
</div>

<!-- START: Reviews -->
<div class="nk-box bg-main">
    <div class="nk-gap-5 mnt-6"></div>
    <div class="nk-gap-3"></div>
    <div class="container">
        <blockquote class="nk-blockquote-style-1 text-white">
            <p>Outstanding job and exceeded all expectations. It was a pleasure
                to work with them on a sizable first project and am looking
                forward to start the next one asap.</p>
            <cite>Michael Hopkins</cite>
        </blockquote>
    </div>
    <div class="nk-gap-3"></div>
    <div class="nk-gap-5 mnt-15"></div>
</div>
<!-- END: Reviews -->

<!-- START: Pagination -->
<div class="nk-pagination nk-pagination-center">
    <div class="container">
        <a class="nk-pagination-prev" href="work-single-4.html"><span class="pe-7s-angle-left"></span> Previous Project</a>
        <a class="nk-pagination-center" href="work-3-style-1.html"><span class="nk-icon-squares"></span></a>
        <a class="nk-pagination-next" href="work-single-6.html">Next Project <span class="pe-7s-angle-right"></span> </a>
    </div>
</div>
<!-- END: Pagination -->
{% endblock %}
