{% set header_title = 'Portfolio 2 Columns Wide 1' %}
{% set footer = 2 %}
{% set nav = 2 %}
{% extends 'layouts/layout-1.html' %}

{% block content %}
<div class="container-fluid">
    <!-- START: Filter -->
    <ul class="nk-isotope-filter">
        <li class="active" data-filter="*">All</li>
        <li data-filter="Branding">Branding</li>
        <li data-filter="Print">Print</li>
        <li data-filter="Design">Design</li>
    </ul>
    <!-- END: Filter -->

    <div class="nk-portfolio-list nk-isotope nk-isotope-2-cols">
        {% for i in [4, 3, 5, 1, 6, 8] %}
        {% set item = portfolio[i] %}
        <div class="nk-isotope-item" data-filter="{{ item.category }}">
            <div class="nk-portfolio-item nk-portfolio-item-info-style-1">
                <a href="{{ item.url }}" class="nk-portfolio-item-link"></a>
                <div class="nk-portfolio-item-image"><div style="background-image: url('{{ item.thumb }}');"></div></div>
                <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-center bg-main-9">
                    <div>
                        <h2 class="portfolio-item-title h5">{{ item.title }}</h2>
                        <div class="portfolio-item-category">{{ item.category }}</div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!-- START: Pagination -->
<div class="nk-pagination nk-pagination-center">
    <a href="#">Load More Works</a>
</div>
<!-- END: Pagination -->
{% endblock %}
