{% set header_title = 'Portfolio 4 Columns Metro 1' %}
{% set footer = 2 %}
{% extends 'layouts/layout-1.html' %}

{% block content %}
<div class="container-fluid">
    <!-- START: Filter -->
    <ul class="nk-isotope-filter nk-isotope-filter-active">
        <li class="active" data-filter="*">All</li>
        <li data-filter="Branding">Branding</li>
        <li data-filter="Print">Print</li>
        <li data-filter="Photography">Photography</li>
        <li data-filter="Design">Design</li>
    </ul>
    <!-- END: Filter -->

    <div class="nk-portfolio-list nk-isotope nk-isotope-4-cols">
        {% for i in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] %}
        {% set item = portfolio[i] %}
        <div class="nk-isotope-item{{ ' nk-isotope-item-x2' if i == 2 or i == 5 }}" data-filter="{{ item.category }}">
            <div class="nk-portfolio-item nk-portfolio-item-info-style-1 nk-portfolio-item-square">
                <a href="{{ item.url }}" class="nk-portfolio-item-link"></a>
                <div class="nk-portfolio-item-image"><div style="background-image: url('{{ item.thumb if i == 2 or i == 5 else item.thumb_sm }}');"></div></div>
                <div class="nk-portfolio-item-info bg-main-9">
                    <div>
                        <h2 class="portfolio-item-title h3">{{ item.title }}</h2>
                        <div class="portfolio-item-category">{{ item.category }}</div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!-- START: Pagination -->
<div class="nk-pagination nk-pagination-center">
    <a href="#">Load More Works</a>
</div>
<!-- END: Pagination -->
{% endblock %}
