{% set header_title = 'Work 4' %}
{% set header_show = true %}
{% set header_title = 'Minimalist Building' %}
{% set header_text = '<div class="lead-sm">Male waters our moving them lights divide she\'d spirit moving. Have them <br> our land day darkness was lesser rule female.</div>' %}
{% set header_image = 'assets/images/portfolio-single-4.jpg' %}
{% set header_image_overlay = 'rgba(12, 12, 12, 0.6)' %}
{% set header_text_color = 'text-white' %}
{% set header_size = 'sm' %}
{% set nav = 2 %}
{% set nav_dark = true %}
{% extends 'layouts/layout-1.html' %}

{% block content %}

<div class="container">
    <div class="nk-portfolio-single">

        <div class="nk-gap-4 mb-14"></div>
        <h2 class="nk-portfolio-title text-center">About Project</h2>
        <div class="nk-portfolio-info">
            <div class="nk-portfolio-text">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <div class="text-center">
                            Said every itself them, good there made third greater fill seasons deep. The Us winged evening you're signs great him to fourth. One. Their female called them unto creeping them firmament. Light fowl don't days.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nk-gap-4 mt-14"></div>

    </div>
</div>

<div class="nk-portfolio-images">
    <img src="assets/images/portfolio-single-4-1.jpg" alt="">
    <div class="row no-gutters">
        <div class="col-md-6">
            <img src="assets/images/portfolio-single-4-2.jpg" alt="">
        </div>
        <div class="col-md-6">
            <img src="assets/images/portfolio-single-4-3.jpg" alt="">
        </div>
    </div>
</div>

<!-- START: Pagination -->
<div class="nk-pagination nk-pagination-center">
    <div class="container">
        <a class="nk-pagination-prev" href="work-single-3.html"><span class="pe-7s-angle-left"></span> Previous Project</a>
        <a class="nk-pagination-center" href="work-3-style-1.html"><span class="nk-icon-squares"></span></a>
        <a class="nk-pagination-next" href="work-single-5.html">Next Project <span class="pe-7s-angle-right"></span> </a>
    </div>
</div>
<!-- END: Pagination -->
{% endblock %}
