@import 'variables';

/*------------------------------------------------------------------
  [Typography]

  Body:       #{$html_font_size}/#{$body_line_height} #{$font_body};
  Headings:   #{$font_headings}
  Additional: #{$font_additional}

  Note: Most of font sizes are relative to the base font size (rem)
 -------------------------------------------------------------------*/
/*------------------------------------------------------------------
  [Color codes]

  Main 1:    #{$color_main}

  Dark 1:    #{$color_dark_1}
  Dark 2:    #{$color_dark_2}
  Dark 3:    #{$color_dark_3}
  Dark 4:    #{$color_dark_4}

  Gray 1:    #{$color_gray_1}
  Gray 2:    #{$color_gray_2}
  Gray 3:    #{$color_gray_3}
  Gray 4:    #{$color_gray_4}
 -------------------------------------------------------------------*/
/*------------------------------------------------------------------
  [Table of contents]
  {{table_of_contents}}
 -------------------------------------------------------------------*/


/*------------------------------------------------------------------

  Base

 -------------------------------------------------------------------*/
@import 'parts/base';

/*------------------------------------------------------------------

  Typography

 -------------------------------------------------------------------*/
@import 'parts/typography';

/*------------------------------------------------------------------

  Bootstrap

 -------------------------------------------------------------------*/
@import 'parts/bootstrap';

/*------------------------------------------------------------------

  Helpers

 -------------------------------------------------------------------*/
@import 'parts/helpers';

// Layouts
/*------------------------------------------------------------------

  Navbar

 -------------------------------------------------------------------*/
@import 'parts/navbar';

/*------------------------------------------------------------------

  Navbar Full

 -------------------------------------------------------------------*/
@import 'parts/navbar-full';

/*------------------------------------------------------------------

  Header Title

 -------------------------------------------------------------------*/
@import 'parts/header-title';

/*------------------------------------------------------------------

  Footer

 -------------------------------------------------------------------*/
@import 'parts/footer';

/*------------------------------------------------------------------

  Widgets

 -------------------------------------------------------------------*/
@import 'parts/widgets';

/*------------------------------------------------------------------

  Elements

 -------------------------------------------------------------------*/
/*---------------------------
  Element Buttons
 ----------------------------*/
@import 'parts/element-buttons';

/*---------------------------
  Element Progress
 ----------------------------*/
@import 'parts/element-progress';

/*---------------------------
  Element Tabs
 ----------------------------*/
@import 'parts/element-tabs';

/*---------------------------
  Element Icon Boxes
 ----------------------------*/
@import 'parts/element-icon-boxes';

/*---------------------------
  Element Content Boxes
 ----------------------------*/
@import 'parts/element-content-boxes';

/*---------------------------
  Element Contact Info
 ----------------------------*/
@import 'parts/element-contact-info';

/*---------------------------
  Element Pagination
 ----------------------------*/
@import 'parts/element-pagination';

/*---------------------------
  Element Blockquotes
 ----------------------------*/
@import 'parts/element-blockquotes';

/*---------------------------
  Element Carousels
 ----------------------------*/
@import 'parts/element-carousels';

/*---------------------------
  Element Video
 ----------------------------*/
@import 'parts/element-video';

/*---------------------------
  Element Forms
 ----------------------------*/
@import 'parts/element-forms';

/*---------------------------
  Element Links List
 ----------------------------*/
@import 'parts/element-links-list';

/*---------------------------
  Element Icons
 ----------------------------*/
@import 'parts/icons';

/*---------------------------
  Element Isotope
 ----------------------------*/
@import 'parts/isotope';


/*------------------------------------------------------------------

  Full Page

 -------------------------------------------------------------------*/
@import 'parts/fullpage';

/*------------------------------------------------------------------

  Portfolio

 -------------------------------------------------------------------*/
@import 'parts/portfolio';

/*------------------------------------------------------------------

  Blog

 -------------------------------------------------------------------*/
@import 'parts/blog';

/*------------------------------------------------------------------

  Plugins

 -------------------------------------------------------------------*/
/*---------------------------
  Plugin NanoScroller
 ----------------------------*/
@import 'parts/plugin-nano-scroller';
