
<!-- START: Scripts -->

<!-- GSAP -->
<script src="assets/bower_components/gsap/src/minified/TweenMax.min.js"></script>
<script src="assets/bower_components/gsap/src/minified/plugins/ScrollToPlugin.min.js"></script>

<!-- Bootstrap -->
<script src="assets/bower_components/tether/dist/js/tether.min.js"></script>
<script src="assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- nK Share -->
<script src="assets/plugins/nk-share/nk-share.js"></script>

<!-- Sticky Kit -->
<script src="assets/bower_components/sticky-kit/dist/sticky-kit.min.js"></script>

<!-- Jarallax -->
<script src="assets/bower_components/jarallax/dist/jarallax.min.js"></script>
<script src="assets/bower_components/jarallax/dist/jarallax-video.min.js"></script>

<!-- Flickity -->
<script src="assets/bower_components/flickity/dist/flickity.pkgd.min.js"></script>

<!-- Isotope -->
<script src="assets/bower_components/isotope/dist/isotope.pkgd.min.js"></script>

<!-- Photoswipe -->
<script src="assets/bower_components/photoswipe/dist/photoswipe.min.js"></script>
<script src="assets/bower_components/photoswipe/dist/photoswipe-ui-default.min.js"></script>

<!-- Jquery Form -->
<script src="assets/bower_components/jquery-form/dist/jquery.form.min.js"></script>

<!-- Jquery Validation -->
<script src="assets/bower_components/jquery-validation/dist/jquery.validate.min.js"></script>

<!-- Hammer.js -->
<script src="assets/bower_components/hammer.js/hammer.min.js"></script>

<!-- Social Likes -->
<script src="assets/bower_components/social-likes/dist/social-likes.min.js"></script>

<!-- NanoSroller -->
<script src="assets/bower_components/nanoscroller/bin/javascripts/jquery.nanoscroller.min.js"></script>

<!-- Keymaster -->
<script src="assets/bower_components/keymaster/keymaster.js"></script>

<!-- Piroll -->
<script src="assets/js/piroll.min.js"></script>
<script src="assets/js/piroll-init.js"></script>

<!-- Demo -->
<script src="assets/js/demo.js"></script>
<!-- END: Scripts -->