.ept_swipe {
    position: fixed;
    background-color: black;
    width: 100%;
    height: 100%;
    z-index: 999;
    top: 0;
    bottom: 0;
    right: 0;
    -webkit-transition: width 2.5s ease-in-out; /* Safari */
    transition: width .5s ease-in-out;
  }
  
  
  .ept_swipe--animate {
    width: 0;
  }
  